:root {
  --clr-bg-dark: #152642; 
  --clr-bg-light: #d0d4d7; 

  --clr-text-dark: #1f2937; 
  --clr-text-light: #212529; 

  --clr-textNav-dark: #767D92;
  --clr-textNav-light: #30353ce4;
}

.dark {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-dark);
}

.light {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-light);
}

nav.dark {
  background-color: #353C51;
  color: var(--clr-textNav-dark);

}

nav.light {
  background-color: #515865;
  color: var(--clr-textNav-light);
}
