.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-image: url(/public/images/cursor.png);
  background-size: cover;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.15s ease-in-out;
}

.custom-cursor:hover {
  transform: scale(1.5);
  background-image: url(/public/images/cursor.png);
}
